.sidebar {
    background: #fff !important;
}

.sidebar .nav-link {
    color: #0b5b3b !important;
}

.sidebar .nav-link .nav-icon {
    font-size: 1rem !important;
}

.sidebar .nav-link.active {
    color: #fff !important;
    background: #0b5b3b !important;
}

.sidebar .nav-link.active .nav-icon {
    color: #fff !important;
}

.sidebar .nav-link:hover {
    background: #66cc99 !important;
    color: #fff !important;
}

.sidebar .nav-link:hover .nav-icon {
    color: #fff !important;
}

.sidebar .nav-link .nav-icon {
    color: #0b5b3b !important;
}

.app-header {
    border-bottom: 1px solid #0b5b3b !important;
}

.app-header .navbar-toggler-icon {
    background-image: url('../assets/icons/burger.png') !important;
    height: 20px !important;
}

.app-header .navbar-toggler-icon:hover {
    background-image: url('../assets/icons/burger.png') !important;
    height: 20px !important;
}

.img-avatar {
    background: #0b5b3b !important;
}